.activities {
  width: 100%;
  background: url(../Images/Background/backg.jpg);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.acCards {
  font-family: "poppins";
  background-color: rgb(47, 51, 51);
  padding: 1rem;
  display: flex;
  width: 17vw;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acCards > div:first-of-type {
  background-color: #34fd8f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.acCards > div:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
.acCards > div:nth-child(3) {
  color: white;
  margin-top: 8px;
}
